#
# I2C Sensor chip drivers configuration
#

menu "Hardware Monitoring support"

config HWMON
	tristate "Hardware Monitoring support"
	default y
	help
	  Hardware monitoring devices let you monitor the hardware health
	  of a system. Most modern motherboards include such a device. It
	  can include temperature sensors, voltage sensors, fan speed
	  sensors and various additional features such as the ability to
	  control the speed of the fans.  If you want this support you
	  should say Y here and also to the specific driver(s) for your
	  sensors chip(s) below.

	  This support can also be built as a module.  If so, the module
	  will be called hwmon.

config HWMON_VID
	tristate
	default n

config SENSORS_ADM1026
	tristate "Analog Devices ADM1026 and compatibles"
	depends on HWMON && I2C && EXPERIMENTAL
	select HWMON_VID
	help
	  If you say yes here you get support for Analog Devices ADM1026
	  sensor chip.

	  This driver can also be built as a module.  If so, the module
	  will be called adm1026.

config SENSORS_LM87
	tristate "National Semiconductor LM87"
	depends on HWMON && I2C && EXPERIMENTAL
	select HWMON_VID
	help
	  If you say yes here you get support for National Semiconductor LM87
	  sensor chips.

	  This driver can also be built as a module.  If so, the module
	  will be called lm87.

config SENSORS_SMSC47B397
        tristate "SMSC LPC47B397-NC"
        depends on HWMON && I2C && EXPERIMENTAL
        select I2C_ISA
        help
          If you say yes here you get support for the SMSC LPC47B397-NC
          sensor chip.

          This driver can also be built as a module.  If so, the module
          will be called smsc47b397.

config HWMON_DEBUG_CHIP
	bool "Hardware Monitoring Chip debugging messages"
	depends on HWMON
	default n
	help
	  Say Y here if you want the I2C chip drivers to produce a bunch of
	  debug messages to the system log.  Select this if you are having
	  a problem with I2C support and want to see more of what is going
	  on.

endmenu
