config INFINIBAND_EHCA
       tristate "eHCA support"
       depends on IBMEBUS && INFINIBAND
       ---help---
       This is a low level device driver for the IBM
       GX based Host channel adapters (HCAs)
